html
    body
        form(action="/userEditSubmit" method="post")
            table
                tr
                th User ID
                th Name
                th Email
                th Age
                each user, index in users
                    tr
                        td
                            input(placeholder="UserID" type="text" name="uid" value=user.uid)
                        td
                            input(placeholder="Name" type="text" name="name" value=user.name)
                        td
                            input(placeholder="Email" type="text" name="email" value=user.email)
                        td
                            input(placeholder="Age" type="text" name="age" value=user.age)
                        td
                            form(action="/delete" method="post")
                                input
            input(type="submit")
            a(href="/userListing") Cancel
