html
    body
        form(action="/userEditSubmit" method="post")
            table
                tr
                th User ID
                th Name
                th Email
                th Age
                each user, index in users
                    tr
                        td
                            input(placeholder="UserID" type="text" name="user" + index value=user.uid)
                        td
                            input(placeholder="Name" type="text" name="user" + index value=user.name)
                        td
                            input(placeholder="Email" type="text" name="user" + index value=user.email)
                        td
                            input(placeholder="Age" type="text" name="user" + index value=user.age)
                        td
                            input( type="checkbox" name="user" + index)
            input(type="submit")
            a(href="/userListing") Cancel
